<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>DisplayAddressBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Buddies</h1>
<!--<form action="#" th:action="@{/viewaddressbook2}" th:object="${addressbook}" method="post">-->
<!--    <form action="#" th:action="@{/viewaddressbook3}" th:object="${buddies}" method="post"></form>-->
<!--    <p>Id: <input type="text" th:field="*{id}" /></p>-->
    <table>
        <tr th:each="buddyinfo: ${buddies}">
            <td th:text="${buddyinfo.name}" />
            <td th:text="${buddyinfo.address}" />
            <td th:text="${buddyinfo.phoneNumber}" />
        </tr>
    </table>

<h1>Add Buddy</h1>
<form action="#" th:action="@{'/viewgui?i=' + ${id}}" th:object="${buddyinfo}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Address: <input type="text" th:field="*{address}" /></p>
    <p>Phone Number: <input type="text" th:field="*{phoneNumber}" /></p>
    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>
<!--    <form action="" method = "post" class=""-->


<!--    <p>Message: <input type="text" th:field="*{buddies}" /></p>-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->

</body>
</html>