<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="hello.js"></script>
</head>
<body>
<h1>AddressBooks</h1>

<table>
    <tr>
        <td>ID</td>
    </tr>
    <tr th:each="addressbook: ${addressbooks}">
        <td th:text="${addressbook.id}" />
    </tr>
</table>

<h2>Add new addressbook</h2>

<form action="#" th:action="@{/viewaddressbooks}" th:object="${addressbook}" method="post">
        <input type="submit" value="Add" />
    </p>
</form>

<h2>view addressbook</h2>

<form id="viewAddressBookForm" action="#" th:action="@{'/viewgui'}" th:object="${addressbook2}" method="get">
    <p>ID: <input type="text" id="AddressBookID" th:field="*{id}" /></p>
    <input type="submit" value="View" />
    <input type="reset" value="Reset" />
    </p>
</form>



<div id="visible" style="visibility:hidden">

<h1>Buddies</h1>

<!--<form action="#" th:action="@{/viewaddressbook2}" th:object="${addressbook}" method="post">-->
<!--    <form action="#" th:action="@{/viewaddressbook3}" th:object="${buddies}" method="post"></form>-->
<!--    <p>Id: <input type="text" th:field="*{id}" /></p>-->
<table id="myTable">

</table>

<h2>Add Buddy</h2>
    <form id="addBuddyInfoForm" action="" method="post">
        <p>AddressBook ID: <input type="text"  id="AddressBookID2"/></p>
        <p>Name: <input type="text"  id="BuddyInfoID"/></p>
        <p>Address: <input type="text" id="BuddyInfoAddress"/></p>
        <p>Phone Number: <input type="text" id="BuddyInfoPhoneNumber"/></p>
        <p>
            <input type="submit" value="add" />
            <input type="reset" value="Reset" />
        </p>
    </form>


</div>















</body>
</html>